<div class="flex flex-center block-ui-overlay">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!--<div class="block-ui-container">
  <div class="block-ui-overlay"></div>
  <div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
    <div class="block-ui-message" ng-class="$_blockUiMessageClass">Cargando ...</div>
  </div>
</div>-->